section.toggles,
aside.toggles,
div.toggles {
    &[data-layout='images'] {
        padding-top: 175px !important;
        padding-bottom: calc($global_module_padding_double + 80px) !important;
        @media (max-width: $breakpoint_tablet_medium_landscape) {
            padding-top: $global_module_padding_single !important;
            padding-bottom: 0 !important;
        }
        .container {
            width: 1470px;
        }

        .toggles-row {
            margin-top: 80px;
        }
        div.toggles-images-layout {
            display: grid;
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
            column-gap: $global_gap_between_columns_large;
            align-items: start;

            @media screen and (max-width: $breakpoint_tablet_medium_landscape) {
                grid-template-columns: 1fr;
                row-gap: $global_gap_between_columns;
            }
        }

        dl.toggles-list {
            background: linear-gradient(
                299deg,
                #1700c2 14.1%,
                #08007d 62.48%,
                #0a005c 91.39%
            );
            box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.23);
            border-radius: 29px;
            display: block;
            margin: 0;
            margin-right: -15%;
            z-index: 2;

            @media (max-width: $breakpoint_tablet_medium_landscape) {
                margin-right: 0;
            }

            div.toggle {
                display: block;

                &:has(button.toggle-trigger[aria-expanded='true']) {
                    background-color: #2b43a7;
                    border-radius: 29px;
                    @media (max-width: $breakpoint_tablet_medium_landscape) {
                        button.toggle-trigger {
                            color: $color_yellow;
                        }
                        .toggle-detail-icon--trigger {
                            img {
                                filter: brightness(0) saturate(100%) invert(90%)
                                    sepia(87%) saturate(701%) hue-rotate(350deg)
                                    brightness(102%) contrast(92%);
                            }
                        }
                    }
                }

                > dt {
                    h4 {
                        margin: 0;
                        color: $color_white;
                    }

                    button.toggle-trigger {
                        padding: 50px 140px;
                        padding-right: 160px;

                        .toggle-detail-icon--trigger {
                            display: none;
                            flex: 0 0 auto;
                            align-items: center;

                            img {
                                display: block;
                                width: auto;
                                max-height: 33px;
                                filter: brightness(0) invert(1);
                            }
                        }

                        @media (max-width: 1240px) {
                            padding: 30px 100px;
                            padding-right: 120px;
                        }
                        @media (max-width: $breakpoint_tablet_medium_landscape) {
                            display: flex;
                            align-items: center;
                            column-gap: 20px;
                            padding: 20px 80px;
                            padding-right: 100px;

                            .toggle-detail-icon--trigger {
                                display: inline-flex;
                            }
                        }
                        .icon {
                            width: 18px;
                            height: 18px;
                            top: 50%;
                            right: 140px;
                            transform: translateY(-50%);

                            @media (max-width: 1240px) {
                                right: 100px;
                            }

                            @media (max-width: $breakpoint_tablet_medium_landscape) {
                                right: 5%;
                            }

                            &:before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-image: url('library/custom-theme/images/icons/toggle-open.svg');
                                background-position: center;
                                background-size: 18px;
                                background-repeat: no-repeat;
                                pointer-events: none;

                                opacity: 1;
                            }

                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-image: url('library/custom-theme/images/icons/toggle-close.svg');
                                background-position: center;
                                background-size: 18px;
                                background-repeat: no-repeat;
                                pointer-events: none;

                                opacity: 0;
                            }
                        }
                    }
                }
                button.toggle-trigger[aria-expanded='true'] > span.icon:before {
                    opacity: 0;
                }

                button.toggle-trigger[aria-expanded='true'] > span.icon:after {
                    opacity: 1;
                }

                dd.toggle-detail-panel-wrap--mobile {
                    display: none;
                    margin: 0;

                    @media (max-width: $breakpoint_tablet_medium_landscape) {
                        display: block;
                        max-height: 0;
                        overflow: hidden;
                        opacity: 0;
                        visibility: hidden;

                        &[aria-hidden='false'] {
                            max-height: 10000px;
                            opacity: 1;
                            visibility: visible;
                        }

                        div.toggle-detail-panel {
                            height: auto;
                            padding: 0 80px 36px;
                            filter: none;
                            border-radius: 0;
                            overflow: visible;

                            &:before,
                            div.toggle-detail-image {
                                display: none;
                            }
                        }

                        div.toggle-detail-content {
                            h3,
                            p {
                                color: $color_white;
                            }
                        }
                    }
                }
            }
        }

        div.toggle-detail-panels {
            min-width: 0;
            transform: translateY(80px);
            margin-left: -10%;
            height: 100%;

            @media (max-width: $breakpoint_tablet_medium_landscape) {
                display: none;
            }
        }

        div.toggle-detail-icon {
            margin-bottom: 20px;
        }

        div.toggle-detail-panel-wrap {
            display: none;

            &[aria-hidden='false'] {
                display: block;
                height: 100%;
            }
        }

        div.toggle-detail-panel {
            position: relative;
            height: 100%;
            padding: 75px;
            padding-left: calc(15% + 75px);
            padding-right: 90px;
            filter: drop-shadow(0 4px 23px rgba(0, 0, 0, 0.1));
            border-radius: 29px;
            overflow: hidden;
            color: $color_white;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: white;
                opacity: 0.8;
                z-index: 1;
            }

            @media screen and (max-width: $breakpoint_tablet_medium_portrait) {
                padding: 28px 24px;
            }
        }

        div.toggle-detail-image {
            position: absolute;
            inset: 0;
            z-index: 0;
            filter: grayscale(1);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                display: block;
            }
        }

        div.toggle-detail-content {
            position: relative;
            z-index: 1;

            h3 {
                color: $color_blue;
            }

            p {
                color: $color_black;
            }

            @media screen and (max-width: $breakpoint_tablet_medium_portrait) {
                h3 {
                    display: none;
                }
                p {
                    margin-top: 0;
                }
            }

            > *:first-child {
                margin-top: 0;
            }

            > *:last-child {
                margin-bottom: 0;
            }
        }
    }

    &[data-layout='toggles'] {
        @media (max-width: $breakpoint_tablet_medium_landscape) {
            padding-bottom: 0 !important;
        }
        .toggles-list {
            .toggle {
                margin-top: 20px;
                border-radius: 29px;
                background: linear-gradient(
                    299deg,
                    #1700c2 14.1%,
                    #08007d 62.48%,
                    #0a005c 91.39%
                );
                box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.23);
                .toggle-trigger {
                    color: #f5e32b;
                    font-family: 'Spline Sans';
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    padding: 45px 84px;
                    .icon {
                        right: 84px;
                        top: 51px;
                    }
                    @media screen and (max-width: 768px) {
                        padding: 20px 40px;
                        padding-right: 60px;
                        font-size: 28px;
                        .icon {
                            right: 30px;
                            top: 23px;
                        }
                    }
                    @media screen and (max-width: 480px) {
                        padding: 20px 30px;
                        padding-right: 60px;
                        font-size: 20px;
                        .icon {
                            right: 30px;
                            top: 20px;
                        }
                    }
                }
                .answer {
                    color: #fff;
                    padding: 45px 84px;
                    padding-top: 0;
                    &[aria-hidden='false'] {
                        display: block;
                    }
                    &[aria-hidden='true'] {
                        display: none;
                    }
                    @media screen and (max-width: 768px) {
                        padding: 20px 40px;
                        padding-top: 0;
                    }
                    @media screen and (max-width: 480px) {
                        padding: 20px 30px;
                        padding-top: 0;
                    }
                    @media (max-width: $breakpoint_tablet_medium_landscape) {
                        padding-left: 5% !important;
                        padding-right: 5% !important;
                    }
                }
            }
        }
    }

    @media (max-width: $breakpoint_tablet_medium_landscape) {
        .toggles-row {
            .container {
                width: 100%;
                padding: 0 !important;
                .toggles-list {
                    border-radius: 0 !important;
                    .toggle {
                        margin-top: 0 !important;
                        border-radius: 0 !important;
                        h4 {
                            font-size: 20px;
                        }
                        .toggle-trigger {
                            padding-left: 5%;
                            padding-right: 75px;
                        }
                        .toggle-detail-panel {
                            padding-left: 5% !important;
                            padding-right: 5% !important;
                            padding-bottom: 25px !important;
                        }
                    }
                }
            }
        }
    }

    ul:not([class]) {
        li:not([class]) {
            &:before {
                background: url(/wp-content/themes/mrmastertheme/library/custom-theme/images/icons/bullet-yellow.svg)
                    no-repeat center center;
                background-size: contain;
            }
        }
    }

    .button--alt {
        &::before {
            background: url(/wp-content/themes/mrmastertheme/library/custom-theme/images/icons/button-arrow-alt-2.svg)
                no-repeat center center !important;
            background-size: contain;
            filter: brightness(1) !important;
        }
        .text-wrap {
            color: white;
        }
        &:hover,
        &:focus {
            .text-wrap {
                border-bottom: 3px solid $color_yellow;
            }
        }
    }
}
