nav#secondary-nav {
    position: relative;
    z-index: 2;
    background: $color-yellow;

    @media screen and (min-width: $breakpoint_tablet_medium_portrait) {
        display: none;
    }

    .contact-phone {
        padding: 10px 0;
        margin-top: 0;
        text-decoration: none;
        color: $color_blue_dark;
        font-family: 'Spline Sans';
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.84px;

        &::before {
            margin-right: 5px;
            filter: brightness(0.5);
        }
    }
}
