#header {
    background: linear-gradient(
        180deg,
        #e2e2e2 12.75%,
        rgba(255, 255, 255, 0) 102.73%
    );
    background-color: #fff;
    box-shadow: 0 0 10px grey;
    border-bottom: 3px solid $color-blue;
    position: static;
    //to take care of a specific styling 'bug', we apply fixed positioning with JavaScript at the exact moment we apply a top margin to the <main>
    z-index: 250;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: auto;
    transition:
        opacity 0.3s linear,
        transform 0.3s linear;

    &:has(#toggled-nav[aria-hidden='false']) {
        background: linear-gradient(90deg, #0b005c 0%, #1700c2 100%);
        border-bottom: 0;
    }
}

body.admin-bar #header {
    top: 32px;

    @media screen and (max-width: 782px) {
        top: 46px;
    }
}

body.scrolling-down:not(.nav-active) #header {
    transform: translateY(-400px);
    opacity: 0;

    &.transition-done {
        visibility: hidden;
        #primary-nav {
            visibility: hidden;
        }
    }
}
