//button that opens the menu
button#menu-toggle-trigger {
    display: inline-block;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0 0 0 24px;
    width: 42px;
    height: 22px;
    position: relative;

    @media screen and (min-width: $breakpoint_laptop_large) {
        display: none;
    }

    &:hover,
    &:focus {
        //
    }

    span.button-bars {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; //necessary for toggled-menu.js to work

        span.bar {
            position: absolute;
            width: 100%;
            height: 3px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $color_blue;
            pointer-events: none; //necessary for toggled-menu.js to work

            &.top {
                top: 0;
            }

            &.middle {
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &.bottom {
                top: auto;
                bottom: 0;
            }
        }
    }

    //'open' menu toggle button styling:
    &[aria-expanded='true'] span.button-bars span.bar.top {
        background-color: white;
        top: 50%;
        border-radius: 10px;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &[aria-expanded='true'] span.button-bars span.bar.middle {
        background-color: white;
        border-radius: 10px;
        display: none;
    }

    &[aria-expanded='true'] span.button-bars span.bar.bottom {
        background-color: white;
        bottom: auto;
        top: 50%;
        border-radius: 10px;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

//the outer menu wrap
nav#toggled-nav {
    position: fixed;
    top: rem(var(--header-height-with-adminbar));
    right: 0;
    width: 100%;
    height: calc(100% - var(--header-height-with-adminbar));
    max-width: 100%;
    max-height: 10000px;
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: flex-end;

    transition: opacity 0.3s ease-in-out;

    //state & rules that hide the menu:
    &[aria-hidden='true'] {
        max-width: 1px;
        max-height: 1px;
        pointer-events: none;
        visibility: hidden;
        opacity: 0;

        > div.menu-wrap {
            padding: 0;
            transform: translateX(100%);
        }

        button#close-toggled-menu {
            display: none;
            pointer-events: none;
        }
    }

    //the inner menu 'window'
    > div.menu-wrap {
        background: linear-gradient(90deg, #0b005c 0%, #1700c2 100%);
        width: 450px;
        padding-top: 75px;
        padding-bottom: 0;
        max-width: 100%;
        overflow-y: scroll;
        transform: translateX(0%);

        transition: transform 0.3s ease-in-out;

        @media screen and (max-width: $breakpoint_before_mobile_large) {
            width: 100%;
        }

        .toggled-menu {
            > li {
                text-align: left;
                border-top: 3px solid #0b005c;
                > a {
                    display: block;
                    padding: 25px 5%;
                    color: $color_white;
                    font-family: 'Spline Sans';
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 600;
                    letter-spacing: 1.8px;
                    text-transform: capitalize;
                    text-decoration: none;
                    text-align: left;
                }
            }
        }

        ul > li + li,
        ul > li > ul > li + li {
            margin: 0;
        }

        //the optional search bar:
        form.custom-theme-search {
            //
        }

        @media screen and (min-width: $breakpoint_tablet_medium_portrait) {
            ul.toggled-menu-desktop-primary,
            ul.toggled-menu-desktop-secondary {
                display: none;
            }
        }

        //the toggled mobile conglomerate menu:
        ul.mobile-menu {
            display: none;

            @media screen and (min-width: $breakpoint_tablet_medium_portrait) {
                display: block;
            }
        }
    }

    //button that closes the menu
    button#close-toggled-menu {
        display: block;
        pointer-events: all;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        border: none;
        box-shadow: none;
        padding: 0;
        margin: 0;

        z-index: -1;
    }
}
