section.testimonials,
aside.testimonials,
div.testimonials {
    //

    &[data-layout='columns'] {
        div.testimonial {
            //

            div.content {
                //
            }

            div.author {
                font-weight: 700;
                font-style: italic;

                span.title {
                    position: relative;
                    padding-left: 16px;

                    &:before {
                        content: '|';
                        position: absolute;
                        left: 2px;
                        top: -2px;
                    }
                }
            }
        }
    }
}
