$color_blue_dark: #0b005c;
$color_blue: #1700c2;

$color_yellow_dark: #ffd900;
$color_yellow: #f5e32b;

$color_grey: #e1e1e1;

//Black
$color_black: #000000;
$color_black_alt: #202020;

//White
$color_white: #ffffff;
$color_white_alt: #ebebeb;
